#heroContainer{
  background: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100vh;
  width: 100%;
  position: relative;
  object-fit: contain;
  z-index: 1;
  
}

#heroBg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#heroVid{
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  z-index: -1;
  background: #232a34;
}
#title{
  color: #ffffff;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  font-size: 64px;
}
#mainText{
  margin-top: auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
  color: #ffffff;
  
}
#contactInfo{
  text-align: center;
  font-size: 15;
}
#line{
  margin: .2rem;
  border-width: 10px;
  border: 1px solid white;
  width:100%;
  z-index: 2;
}