.navContainer{
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: background .3s;
  transition-timing-function: linear;
}
.navybar{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 2000px;
  padding: 0 24px;
}

.navContainer.active{
  background: #000;
  
}

.navyLogo{
  float: left;
  color:#fff;
  justify-self: flex-start;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-left:24px;
  font-weight: bold;
  text-decoration: none;
}

.menu-icon{
  display:flex;
  z-index: 11;
  color: #fff;
  width: 20px;
  height: 20px
}
